<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<p><i>Search twitters</i></p>
<div><app-stone-twitter></app-stone-twitter></div>